*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #212121;
    color: white;
}

.box{
    width: 800px;
    height: calc(100vh - 40px ) ;
    margin: 20px auto;
    background-color: #121212;
    padding: 25px;
    border-radius: 7px;
}

.margin1{
    margin: 1rem;
}
.backgroundColor{
    background-color: #121212;
}

.Button{
    height: 24px;
    width: 24px;
    text-align: center;
    border-radius: 7px;
}
.input{
    min-height: 24px;
    border-radius: 7px;
}

.completed{
    color: crimson;
    text-decoration: line-through;
}

.flexSpaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;

}